@page "/"


<div class="card w-96 bg-primary text-primary-content shadow-xl">
    <div class="card-body">
        <p class="text-sm">已释出</p>
        <p class="font-bold text-4xl">66</p>
    </div>
</div>