@using DMWeb.Utils
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inherits LayoutComponentBase
@inject ProtectedLocalStorage ProtectedLocalStorage
<div class="page" data-theme="">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <TopBar OnToggled="HandleToggle" />

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
@code {
    protected override async Task OnInitializedAsync()
    {
        //添加判断
        // Theme.Themeoption = (int)Theme.ThemeOption.Dark;
        // var value = await ProtectedLocalStorage.GetAsync<string>("theme");
        // MainTheme = value.Value;
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        
    }
    public static void HandleToggle(string value)
    {
        Console.WriteLine(value);
    }
}