<nav id="navmenu"
    class="group fixed left-0 top-0 z-50 h-screen overflow-hidden shadow-md w-[80px] translate-x-0">
    <ul class="relative m-0 list-none px-1 flex flex-col">
        <label class="relative btn btn-ghost justify-center my-1 h-16">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" /></svg>
        </label>
        <label class="relative btn btn-ghost justify-center my-1 h-16">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
        </label>
    </ul>
</nav>
